/* Right to left style
==================================================================*/

#cookie_disclaimer {
    direction: rtl;
    unicode-bidi: embed;
}
#cookie_disclaimer span.close_cookie_disclaimer {
    left: .5rem;
}