#cookie_disclaimer {
    background: #ffffff;
    border: 4px solid #f7c413;
    bottom: 1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
    max-width: 211px;
    padding: 1.5rem 1rem;
    position: fixed;
    right: 1rem;
    width: 100%;
    z-index: 999;
}

#cookie_disclaimer * {
    font-size: .7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Link style */
#cookie_disclaimer a {
    color: #a1a1a1;
    font: inherit;
    text-decoration: underline;
}

/* Button style */
#cookie_disclaimer button.close_cookie_disclaimer {
    background: #f7c413;
    color: #000000;
    display: block;
    font-weight: lighter;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
}

/* Close button posiotion */
#cookie_disclaimer span.close_cookie_disclaimer {
    color: #A1A1A1;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}